head 
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href="images/avatar.png")
    title Mateusz

body 

    header.contarinerElement

        .headerLeft 
            a Personal Page

        .btnDiv
            a(href="/").btn Github
            a(href="/").btn Discord
            a(href="/").btn Discord

    main.contarinerElement
    
        #upper

            | Ssdsd

    footer.contarinerElement

        | <a> Mateusz Kalaga </a> COPYRIGHT <a> 2023 </a>