head 
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href="images/avatar.png")
    title Mateusz

body 

    header
        div.btnDiv
            a(href="/").btn Github
        div.btnDiv
            a(href="/").btn Discord

    main
        img(src="images/background.png" alt="")#background


footer