head 
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" type="image/png" href="images/avatar.png")
    title Mateusz

body 

    header

        .headerLeft 
            a Personal Page

        .btnDiv
            a(href="/").btn Github
            a(href="/").btn Discord
            a(href="/").btn Discord

    main
        img(src="images/background.png" alt="")#background


footer