@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap");
body {
  height: 100%;
  margin: 0;
  background-color: #151019;
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body .contarinerElement {
  display: block;
  float: left;
}

body header {
  width: 100%;
}

body header .headerLeft {
  display: block;
  float: left;
  width: 30%;
  padding: 20px;
  font-size: 30px;
}

body header .btnDiv {
  width: 30%;
  display: block;
  float: right;
  padding: 20px;
}

body header .btnDiv .btn {
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #232423;
  padding: 0.3em 1.2em;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 550;
  color: #ffffff;
  background-size: 100% 100%;
  box-shadow: 0 0 0 4px #232423 inset;
}

body header .btnDiv .btn:hover {
  background-image: linear-gradient(55deg, transparent 10%, #161616 10% 20%, transparent 20% 30%, #161616 30% 40%, transparent 40% 50%, #161616 50% 60%, transparent 60% 70%, #161616 70% 80%, transparent 80% 90%, #161616 90% 100%);
  animation: background 3s linear infinite;
}

body main {
  width: 100%;
  height: 90%;
}

body main #upper {
  height: 100%;
  /* Ustal wysokość */
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: mainBackgroundFade 3s ease 0s 1 normal forwards;
}

body footer {
  color: #a09e9e;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  padding-top: 20px;
  width: 20%;
  left: 50%;
  height: 5%;
  background-color: #232423;
  border-radius: 20in 20in 0 0;
  font-weight: bold;
}

body footer a {
  color: #6997c2;
}

@keyframes mainBackgroundFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
