@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap");
body {
  height: 100%;
  margin: 0;
  background-color: #151019;
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 25px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 50;
  width: 100vw;
}

header .headerLeft {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 0 10px white;
}

header .headerRight {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

header .headerRight .link {
  background-color: #6997c2;
  border-radius: 15px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5 linear;
}

header .headerRight .link:hover {
  background-color: #486e91;
}

header .headerRight a {
  font-size: 18px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

header .headerRight a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: white;
}

header .headerRight a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  display: block;
  width: 100%;
  z-index: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

main #upper {
  height: 100%;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: mainBackgroundFade 3s ease 0s 1 normal forwards;
  z-index: 0;
}

main #upper .container {
  padding: 120px 20px 0 20px;
  display: flex;
  gap: 90px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main #upper .container div {
  width: 50%;
}

main #upper .container div a {
  background-color: #16121b;
  border-radius: 10in;
}

main #upper .container div #glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

main #upper .containerFull {
  padding: 0 20px 20px 20px;
  display: grid;
  width: 100%;
  gap: 20px 100px;
  grid-template-columns: repeat(2, 1fr);
}

main #upper .containerFull .projectsTitle {
  color: #8fc7fa;
  font-size: 40px;
}

main #upper .containerFull .projects-container {
  color: #b7d0e8;
  display: block;
  width: 100%;
  float: left;
}

main #upper .containerFull .projects-container .prjects-title-container {
  height: 10%;
}

main #upper .containerFull .project {
  text-align: center;
}

main #upper .containerFull .project .project-item {
  background-color: #16121b;
  opacity: 0.9;
  box-shadow: 2px 2px #392946;
  border-radius: 10mm;
  padding: 20px;
  margin: 20px;
}

main #upper .containerFull .project .project-item .link {
  color: #b7d0e8;
  padding: 5px;
}

main #upper .containerFull .project .archived {
  background-color: #392946;
  color: white;
  text-align: left;
  padding: 5px;
  border-radius: 20mm;
  width: 70%;
}

main #upper .containerFull .project .name {
  color: #8fc7fa;
  font-size: 20px;
}

main #upper #langs {
  width: 100%;
  padding: 10%;
}

main #upper #langs .lang {
  display: inline-block;
}

main #upper #langs .lang a {
  margin: 10px;
  color: #8fc7fa;
  text-decoration: none;
  transition: color 1s;
}

main #upper #langs .lang a:hover {
  color: white;
  transition: color 1s;
  text-shadow: 1px 0 10px white;
}

footer {
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a09e9e;
  font-size: 17px;
  padding: 20px 15px;
  background-color: #232423;
  border-radius: 0 20in 20in 0;
  font-weight: bold;
  z-index: 49;
  gap: 5px;
}

footer a {
  color: #6997c2;
  transition: all 0.3s linear;
  cursor: pointer;
}

footer a:hover {
  color: #315d86;
}

@keyframes mainBackgroundFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  main #upper .container {
    flex-direction: column;
  }
  main #upper .containerFull {
    grid-template-columns: 1fr;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }
  footer {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-radius: 20in 20in 0 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
