@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap");
body {
  height: 100%;
  margin: 0;
  background-color: #151019;
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body header {
  position: fixed;
  top: 25px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 50;
  width: 100vw;
}

body header .headerLeft {
  display: flex;
  font-weight: bold;
  font-size: 30px;
}

body header .headerRight {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

body header .headerRight .link {
  background-color: #6997c2;
  border-radius: 15px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5 linear;
}

body header .headerRight .link:hover {
  background-color: #486e91;
}

body header .headerRight a {
  font-size: 18px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  transition: all 0.3s linear;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

body header .headerRight a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: white;
}

body header .headerRight a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  display: block;
  width: 100%;
  z-index: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

main #upper {
  padding-top: 120px;
  height: 100%;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: mainBackgroundFade 3s ease 0s 1 normal forwards;
  z-index: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a09e9e;
  font-size: 17px;
  padding: 30px 30px 10px 30px;
  left: 50%;
  background-color: #232423;
  border-radius: 20in 20in 0 0;
  font-weight: bold;
  z-index: 49;
  gap: 5px;
}

footer a {
  color: #6997c2;
  transition: all 0.3s linear;
  cursor: pointer;
}

footer a:hover {
  color: #315d86;
}

@keyframes mainBackgroundFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
